<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>تواصل مع تقييم</strong>
      </c-card-header>
      <c-card-body>
        <form cForm>
          <c-row class="mb-4">
            <c-col xs="4">
                <label cLabel for="exampleFormControlInput1">الاسم</label>
                <input cFormControl
                        id="exampleFormControlInput1"
                        placeholder="عمر احمد علي الحارث"
                        type="text"
                />
            </c-col>
            <c-col xs="4">
              <label cLabel for="exampleFormControlInput1">رقم الهوية او الاقامة</label>
              <input cFormControl
                      id="exampleFormControlInput1"
                      placeholder="0123456789"
                      type="text"
              />
            </c-col>
            <c-col xs="4">
              <label cLabel for="exampleFormControlInput1">رقم العضوية</label>
              <input cFormControl
                      id="exampleFormControlInput1"
                      placeholder="0258741"
                      type="text"
              />
            </c-col>
          </c-row>
          <c-row class="mb-4">
            <c-col xs="4">
                <label cLabel for="exampleFormControlInput1">رقم الجوال</label>
                <input cFormControl
                        id="exampleFormControlInput1"
                        placeholder="0535697930"
                        type="number"
                />
            </c-col>
            <c-col xs="4">
              <label cLabel for="exampleFormControlInput1">البريد الالكتروني</label>
              <input cFormControl
                      id="exampleFormControlInput1"
                      placeholder="omeralharith44@gmail.com"
                      type="email"
              />
            </c-col>
            <c-col xs="4">
              <label cLabel for="exampleFormControlInput1">تفاصيل الطلب</label>
              <select aria-label="Default select example" cSelect>
                <option>إختيار تفاصيل الطلب</option>
                <option value="1">الدعم الفني</option>
                <option value="2">الاستفسارات العامة</option>
                <option value="3">الشكاوي والمقترحات</option>
              </select>
            </c-col>
          </c-row>
          <div class="mb-3">
            <label cLabel for="exampleFormControlTextarea1">موضوع الطلب</label>
            <input cFormControl
            id="exampleFormControlInput1"
            placeholder="نص موضوع الطلب"
            type="text"
    />
          </div>
          <div class="mb-3">
            <label cLabel for="exampleFormControlTextarea1">نص الرسالة</label>
            <textarea cFormControl id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button cButton color="secondary" class="me-md-2">إلغاء</button>
            <button cButton color="primary">حفظ</button>
          </div>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

